@CHARSET "ISO-8859-1";

.reservedSeat {
	background: yellow !important;
	width: 20px;
	height: 20px;
}

.availableSeat {
	background: green !important;;
	width: 20px;
	height: 20px;
}

.seatsCells td {
	width: 1% !important;
	white-space: nowrap !important;
}

.unavailableSeat {
	background: red !important;;
	width: 20px;
	height: 20px;
}